<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791171062286-3j3cv4hdkekchmbq6hc4a8umqh4r102h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791171062286-3j3cv4hdkekchmbq6hc4a8umqh4r102h</string>
	<key>API_KEY</key>
	<string>AIzaSyCEwGJ-KeuH20s9jS-o4M0S8wU5T4uCEuI</string>
	<key>GCM_SENDER_ID</key>
	<string>791171062286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jun.Firebase-PR</string>
	<key>PROJECT_ID</key>
	<string>fir-pr-e3519</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pr-e3519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791171062286:ios:cd75d4f077fe9a8c1bfa5f</string>
</dict>
</plist>